<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>




    <properties resource="db.properties"/>

<!--    <typeAliases>-->
<!--&lt;!&ndash;        <typeAlias type="com.pipizhu.pojo.Usr" alias="Usr"/>&ndash;&gt;-->
<!--        <package name="com.pipizhu.pojo"/>-->
<!--    </typeAliases>-->



    <!--    环境-->
    <environments default="development">
        <!--        环境01，自己用一般一个环境-->
        <environment id="development">
            <!--            事务处理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--                驱动-->
                <property name="driver" value="${driver}"/>
                <!--                连接-->
                <property name="url" value="${url}"/>
                <!--                用户名密码-->
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/pipizhu/dao/UsrMapper.xml"/>
    </mappers>
</configuration>